<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="app.js"></script>
</head>
<body>
    <style>
        .button {
            background-color: white;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        .button-bordered {
            background-color: white;
            border:thin;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }

        .menu-item {
            cursor: default;
        }
    </style>
    <div ng-app="ABET" ng-controller="mainCtrl">
        <h1>Welcome to CS@FSU's ABET Accreditation System</h1>
        <div style="border-bottom:solid">
            <div ng-repeat="semester in semesters">
                <div ng-click="selectSemester(semester)" style="float:left;margin:15px;padding:3px">
                    <div class="menu-item" style="float:left;margin-right:5px">{{semester.Name}}</div>
                    <button class="button" style="float:left;margin-left:5px;margin-top:3px;padding:0px" ng-click="removeSemester(semester.Id)"><i class="fas fa-window-close"></i></button>
                </div>
            </div>
            <div ng-click="showNewSemester()" style="float:left;margin:15px;padding:3px">
                <button class="button" style="float:left;margin-left:5px;margin-top:3px;padding:0px"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div style="clear:both"></div>
        <div ng-show="!addingSemester && selectedSemester !== undefined">
            <div style="float:left;width:40%">
                <div style="width:100%;display:table-row" ng-repeat="class in classes | filter:{class.semesterId : selectedSemester.Id}" ng-show="selectedSemester !== undefined">
                    <div ng-click="selectClass(class)" style="float:left;margin:15px">{{class.courseCode}} - {{class.courseName}}</div>
                    <button class="button" style="float:left;margin-left:5px;margin-top:15px;padding:0px" ng-click="removeClass(class.id)"><i class="fas fa-window-close"></i></button>
                </div>
                <div style="width:100%;display:table-row">
                    <button class="button" style="height:25px;width:50px;margin:0px 15px 15px 0px;padding:0px" ng-click="showNewClass()"><i class="fas fa-plus-square"></i></button>
                </div>
            </div>
            <div style="float:left;width:60%;margin-top:15px" ng-show="selectedClass !== undefined && !addingClass">
                <div style="margin:5px"><b>Instructor:</b> {{selectedClass.instructor}}</div>
                <div style="margin:5px"><b>Enrollment:</b> {{selectedClass.enrollment}}</div>
            </div>
            <div style="float:left;width:60%;margin-top:15px" ng-show="addingClass">

                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="code">Class Code:</label>
                    <input style="width:100%" id="code" ng-model="selectedClass.courseCode" />
                </div>

                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="name">Class Name:</label>
                    <input style="width:100%" id="name" ng-model="selectedClass.courseName" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="instructor">Instructor:</label>
                    <input style="width:100%" id="instructor" ng-model="selectedClass.instructor" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="enrollment">Enrollment:</label>
                    <input style="width:100%" id="enrollment" ng-model="selectedClass.enrollment" />
                </div>
                <div style="display:table-row;margin-top:15px">
                    <div style="float:right">
                        <button class="button-bordered" ng-click="cancelAddClass()">Cancel</button>
                        <button class="button-bordered" style="padding:15px 0px 15px 15px" ng-click="addClass()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="addingSemester" style="width:30%">
            <label for="name">Semester Name:</label>
            <input id="name" ng-model="selectedSemester.Name" />
            <div style="clear:both"></div>
            <div style="float:right">
                <button class="button-bordered" ng-click="cancelAddSemester()">Cancel</button>
                <button class="button-bordered" ng-click="addSemester()">Ok</button>
            </div>
        </div>
        <!--<div class="ng-view"></div>-->
    </div>
</body>
</html>