﻿<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="app.js"></script>
</head>
<body>
    <style>
        .button {
            background-color: white;
            border: none;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }

        .button-bordered {
            background-color: white;
            border: thin;
            color: black;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }

        .menu-item {
            cursor: default;
        }
    </style>
    <div ng-app="ABET" ng-controller="mainCtrl">
        <h1>Shopping List</h1>
        <div style="border-bottom:solid">
            <div ng-repeat="store in stores">
                <div ng-click="selectStore(store)" style="float:left;margin:15px;padding:3px">
                    <div class="menu-item" style="float:left;margin-right:5px">{{store.Name}}</div>
                    <button class="button" style="float:left;margin-left:5px;margin-top:3px;padding:0px" ng-click="removeStore(store.Id)"><i class="fas fa-window-close"></i></button>
                </div>
            </div>
            <div ng-click="showNewStore()" style="float:left;margin:15px;padding:3px">
                <button class="button" style="float:left;margin-left:5px;margin-top:3px;padding:0px"><i class="fas fa-plus-square"></i></button>
            </div>
        </div>
        <div style="clear:both"></div>
        <div ng-show="!addingStore && selectedStore !== undefined">
            <div style="float:left;width:40%">
                <div style="width:100%;display:table-row" ng-repeat="grocery in groceries | filter: {StoreId:selectedStore.Id}" ng-show="selectedStore !== undefined">
                    <div ng-click="selectGrocery(grocery)" style="float:left;margin:15px">{{grocery.Brand}} - {{grocery.GroceryItem}}</div>
                    <button class="button" style="float:left;margin-left:5px;margin-top:15px;padding:0px" ng-click="removeGrocery(grocery.Id)"><i class="fas fa-window-close"></i></button>
                </div>
                <div style="width:100%;display:table-row">
                    <button class="button" style="height:25px;width:50px;margin:0px 15px 15px 0px;padding:0px" ng-click="showNewGrocery()"><i class="fas fa-plus-square"></i></button>
                </div>
            </div>
            <div style="float:left;width:60%;margin-top:15px" ng-show="selectedGrocery !== undefined && !addingGrocery">
                <div style="margin:5px"><b>Quantity:</b> {{selectedGrocery.Quantity}}</div>
                <div style="margin:5px"><b>Aisle:</b> {{selectedGrocery.Aisle}}</div>
                <div style="margin:5px"><b>Price:</b> {{selectedGrocery.Price}}</div>
                <div style="margin:5px"><b>Link:</b> {{selectedGrocery.Link}}</div>
                <button class="button" style="float:left;margin-left:5px;margin-top:3px;padding:0px" ng-click="showEditGrocery(selectedGrocery)"><i class="fas fa-pen-square"></i></button>
            </div>

            <div style="float:left;width:60%;margin-top:15px" ng-show="selectedGrocery !== undefined && editingGrocery">

                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="groceryItem">Grocery Item:</label>
                    <input style="width:100%" id="groceryItem" ng-model="selectedGrocery.groceryItem" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="code">Brand:</label>
                    <input style="width:100%" id="code" ng-model="selectedGrocery.Brand" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="link">Link:</label>
                    <input style="width:100%" id="link" ng-model="selectedGrocery.link" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="quantity">Quantity:</label>
                    <input style="width:100%" id="quantity" ng-model="selectedGrocery.quantity" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="aisle">Aisle:</label>
                    <input style="width:100%" id="aisle" ng-model="selectedGrocery.aisle" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="price">Price:</label>
                    <input style="width:100%" id="price" ng-model="selectedGrocery.price" />
                </div>
                <div style="display:table-row;margin-top:15px">
                    <div style="float:right">
                        <button class="button-bordered" ng-click="cancelEdit()">Cancel</button>
                        <button class="button-bordered" style="padding:15px 0px 15px 15px" ng-click="editGrocery(selectedGrocery.Id)">Update</button>
                    </div>
                </div>
            </div>

            <div style="float:left;width:60%;margin-top:15px" ng-show="addingGrocery">
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="name">Grocery Item:</label>
                    <input style="width:100%" id="name" ng-model="selectedGrocery.groceryItem" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="code">Brand:</label>
                    <input style="width:100%" id="code" ng-model="selectedGrocery.Brand" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="link">Link:</label>
                    <input style="width:100%" id="link" ng-model="selectedGrocery.link" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="quantity">Quantity:</label>
                    <input style="width:100%" id="quantity" ng-model="selectedGrocery.quantity" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="aisle">Aisle:</label>
                    <input style="width:100%" id="aisle" ng-model="selectedGrocery.aisle" />
                </div>
                <div style="display:table-row;margin-top:10px">
                    <label style="width:30%" for="price">Price:</label>
                    <input style="width:100%" id="price" ng-model="selectedGrocery.price" />
                </div>
                <div style="display:table-row;margin-top:15px">
                    <div style="float:right">
                        <button class="button-bordered" ng-click="cancelAddGrocery()">Cancel</button>
                        <button class="button-bordered" style="padding:15px 0px 15px 15px" ng-click="addGrocery()">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="addingStore" style="width:30%">
            <label for="name">Store Name:</label>
            <input id="name" ng-model="selectedStore.Name" />
            <div style="clear:both"></div>
            <div style="float:right">
                <button class="button-bordered" ng-click="cancelAddStore()">Cancel</button>
                <button class="button-bordered" ng-click="addStore()">Ok</button>
            </div>
        </div>
        <!--<div class="ng-view"></div>-->
    </div>
</body>
</html>